@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@font-face {
    font-family:California;
    font-style:normal;
    font-weight:500;
    src:url(../assets/fonts/California.ttf);
}

@font-face {
    font-family:LeMajor;
    src: url(../assets/fonts/LeMajor-Regular.ttf);
    font-size: 28px;
    letter-spacing: 50;
}

@font-face {
    font-family:Andina;
    src: url(../assets/fonts/Andina.ttf);
    font-size: 16px;
    letter-spacing: 90;
}

@font-face {
    font-family:Candara;
    src: url(../assets/fonts/Candara.ttf);
    font-size: 12.54px;
    letter-spacing: 350;
  }

  .number-family{
      font-family: 'Candara';
      font-size: 12.75px;
  }


.in-view img{
    width: 100%;
}

.navbar {
    position: absolute;
    width: 100%;
    top: 2%;
    display: inline-block;
}



.main-div {
    width: 80vw;
    left: 10vw;
    position: relative;
}

.navbar img {
    width: 3%;
    margin: 10px;
    float: left;
}

.heading {
    color: white;
    font-family: 'LeMajor';
    font-size: 4vw;
    padding-left: 37%;
    transform: translate(0%,0%);
}

.yearParentDiv{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    font-size: 2.4vw;
    cursor: pointer;
    color: white;
    font-family: 'LeMajor';
    width: 27%;
    transform: translate(67vw,-13vh);
}
.yearChildDiv{
    padding-left: 3%;
    padding-right: 3%;
}
.yearDiv:hover{
    cursor: pointer;
}
/* .heading span{
    
    padding-left: 10%;
    cursor: pointer;
} */


.heading2 {
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'LeMajor';
    font-size: 2em;
    padding: 20px 0;
}

.heading span{
    font-size:40px;
    padding-left: 3%;
}

.heading-facet{
    font-family: 'LeMajor';
    text-align: center;
    color: white;
    
}


.active {
    color: #627B9C;
}

.facets {
    width: 28%;
    color: white;
    float: left;
    margin: 8.8em 0 0 0;
    padding: 0 0 0 4%;
    font-size: 22px;
}
.facets-m {
    width: auto;
    color: white;
    float: left;
    position: relative;
    top: 10vh;
    padding: 0 0 0 15vw;
    font-size: 1.5em;
}
.facets ul {
    list-style: none;
    font-family: 'Lobster';
    letter-spacing: 1.5px;
    cursor: pointer;
}
.facets-m ul {
    list-style: none;
    font-family: 'LeMajor';
    letter-spacing: 1.5px;
    cursor: pointer;
    font-size: 17px;
}

.facets-m ul li {
    margin-top: 10px;
}

.facets ul li {
    margin-top: 3px;
    font-family: 'LeMajor';
}

.imageDiv{
    display: grid;
}


/* .imageFrame .headsImage{
    grid-column: 1;
    grid-row: 1;
} */
.imageFrame{
    z-index: -10;
    position: relative;
}
.headsImage {
    object-fit: fill;
    z-index: 30;
    border-radius: 2000px;
    position: absolute;
    max-width: 54%;
    max-height: 48%;
    transform: translate(43%, 33%);
    /* width: auto; */
    
}

.headsImage1 {
    object-fit: fill;
    z-index: 30;
    border-radius: 2000px;
    position: absolute;
    max-width: 54%;
    max-height: 58%;
    transform: translate(43%, 33%);
}

.headsImageMobile {
    object-fit: fill;
    z-index: 30;
    border-radius: 2000px;
    position: absolute;
    max-width: 53%;
    max-height: 50%;
    transform: translate(44%, -161%);
}

.grid {
    width: 64%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    padding-right: 4%;
    margin-top: 5em;
    margin-left: 0;
    margin-bottom: 5em;
    padding-bottom: 5em;
    padding-top: 3em;
}

.grid-item {
    position: relative;
    display: inline-block;
    margin: 15px auto auto auto;
    padding-bottom: 0;
    width: 25%;
    padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 20px;
}
.grid-item-m {
    position: relative;
    display: inline-block;
    margin: 15px auto;
    padding-bottom: 0;
    /* width: 25%; */
    /* padding-left: 17px; */
    /* padding-right: 17px; */
    padding-left: 15%;
    padding-right: 15%;
}

.small-grid {
    margin-top: 10em;
}

[in-view=fade-up] {
    transition: opacity 1s cubic-bezier(.5,0,.2,1),-webkit-transform 1s cubic-bezier(0,.7,.1,1);
    transition: transform 1s cubic-bezier(0,.7,.1,1),opacity 1s cubic-bezier(.5,0,.2,1);
    transition: transform 1s cubic-bezier(0,.7,.1,1),opacity 1s cubic-bezier(.5,0,.2,1),-webkit-transform 1s cubic-bezier(0,.7,.1,1);
    will-change: transform,opacity;
}

.grid-picture {
    position: relative;
    width: 100%;
}




.wave-container {
    display: inline-block;
}

.grid-picture img {
    display: block;
    width: 100%;
}

.grid-title {
    font-family: 'Andina';
    font-weight: 500;
    font-style: normal;
    font-size: 3.125rem;
    line-height: 1.1;
    text-align: left;
    text-shadow: 0 0 42px #2f9d9c;
    color: #fff;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: skewY(-11.5deg);
    transform: skewY(-11.5deg);
    z-index: 400;
    margin-top: -50px;
    margin-right: 16px;
    margin-left: 16px;
    font-size: 1rem;
}

.grid-subtitle {
    font-weight: 700;
    font-size: 0.9em;
    /*text-transform: uppercase;*/
    color: white;
    padding-left: 10em;
    margin-top: -1.6em;
    text-align: left;
}

.grid-links p {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
}

.grid-links a {
    color: white;
    font-size: 1.8em;
    margin: 0.6em;
}

.grid-links a:hover {
    color: #fff;
    transition: all 0.5s;
}

.grid-links {
    font-size: 0.8em;
    color: rgba(185,215,255,.5);
    text-align: center;
    z-index: 500;
}

/* Animations related CSS */

.grid_items_anm-enter {
    opacity: 0.01;
}

.grid_items_anm-enter.grid_items_anm-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.grid_items_anm-leave {
    opacity: 1;
}

.grid_items_anm-leave.grid_items_anm-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.bubble {
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 9px;
    display: block;
    pointer-events: none;
    border-radius: 10px;
    background-image: url(../assets/images/bubble.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
}

.small-bubble-right {
    -webkit-animation: small-bubble-right 1.8s linear infinite;
    animation: small-bubble-right 1.8s linear infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.small-bubble-left {
    -webkit-animation: small-bubble-left 1.8s linear infinite;
    animation: small-bubble-left 1.8s linear infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.medium-bubble-right {
    -webkit-animation: medium-bubble-right 1.8s linear infinite;
    animation: medium-bubble-right 1.8s linear infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.medium-bubble-left {
    -webkit-animation: medium-bubble-left 1.8s linear infinite;
    animation: medium-bubble-left 1.8s linear infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.bubble-anim1 {
    -webkit-animation-duration: 6.5s;
    animation-duration: 6.5s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.bubble-anim2 {
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
}

.bubble-anim3 {
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
    -webkit-animation-delay: 1.65s;
    animation-delay: 1.65s;
}

.bubble-anim4 {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.bubble-anim5 {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}

.bubble-anim6 {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.bubble-anim5, .bubble-anim6 {
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
}

.bubble-anim7 {
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s;
}

.bubble-anim8 {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

.bubble-size2 {
    height: 28px;
    width: 25px;
}

.bubble-size4 {
    height: 23px;
    width: 22px;
}

.bubble-size5 {
    height: 10px;
    width: 12px;
}

.bubble-size7 {
    height: 7px;
    width: 6px;
}


@keyframes medium-bubble-left {
    0% {
        -webkit-transform: translate3d(0,2px,0);
        transform: translate3d(0,2px,0);
        opacity: 0;
    }
    5% {
        -webkit-transform: translate3d(0,-9px,0);
        transform: translate3d(0,-9px,0);
        opacity: .41;
    }
    10% {
        -webkit-transform: translate3d(0,-20px,0);
        transform: translate3d(0,-20px,0);
        opacity: .51;
    }
    15% {
        -webkit-transform: translate3d(0,-32px,0);
        transform: translate3d(0,-32px,0);
        opacity: .58;
    }
    20% {
        -webkit-transform: translate3d(-2px,-43px,0);
        transform: translate3d(-2px,-43px,0);
        opacity: .64;
    }
    25% {
        -webkit-transform: translate3d(-4px,-55px,0);
        transform: translate3d(-4px,-55px,0);
        opacity: .7;
    }
    30% {
        -webkit-transform: translate3d(-8px,-66px,0);
        transform: translate3d(-8px,-66px,0);
        opacity: .76;
    }
    35% {
        -webkit-transform: translate3d(-13px,-78px,0);
        transform: translate3d(-13px,-78px,0);
        opacity: .81;
    }
    40% {
        -webkit-transform: translate3d(-18px,-89px,0);
        transform: translate3d(-18px,-89px,0);
        opacity: .87;
    }
    45% {
        -webkit-transform: translate3d(-24px,-101px,0);
        transform: translate3d(-24px,-101px,0);
        opacity: .93;
    }
    50% {
        -webkit-transform: translate3d(-31px,-112px,0);
        transform: translate3d(-31px,-112px,0);
        opacity: 1;
    }
    55% {
        -webkit-transform: translate3d(-37px,-123px,0);
        transform: translate3d(-37px,-123px,0);
        opacity: .93;
    }
    60% {
        -webkit-transform: translate3d(-41px,-134px,0);
        transform: translate3d(-41px,-134px,0);
        opacity: .85;
    }
    65% {
        -webkit-transform: translate3d(-45px,-144px,0);
        transform: translate3d(-45px,-144px,0);
        opacity: .76;
    }
    70% {
        -webkit-transform: translate3d(-48px,-155px,0);
        transform: translate3d(-48px,-155px,0);
        opacity: .66;
    }
    75% {
        -webkit-transform: translate3d(-49px,-165px,0);
        transform: translate3d(-49px,-165px,0);
        opacity: .56;
    }
    80% {
        -webkit-transform: translate3d(-48px,-176px,0);
        transform: translate3d(-48px,-176px,0);
        opacity: .45;
    }
    85% {
        -webkit-transform: translate3d(-47px,-186px,0);
        transform: translate3d(-47px,-186px,0);
        opacity: .34;
    }
    90% {
        -webkit-transform: translate3d(-45px,-197px,0);
        transform: translate3d(-45px,-197px,0);
        opacity: .22;
    }
    95% {
        -webkit-transform: translate3d(-43px,-207px,0);
        transform: translate3d(-43px,-207px,0);
        opacity: .11;
    }
    100% {
        -webkit-transform: translate3d(-42px,-218px,0);
        transform: translate3d(-42px,-218px,0);
        opacity: 0;
    }
}

@keyframes small-bubble-left {
    0% {
        -webkit-transform: translate3d(0,2px,0);
        transform: translate3d(0,2px,0);
        opacity: 0;
    }
    5% {
        -webkit-transform: translate3d(-1px,-8px,0);
        transform: translate3d(-1px,-8px,0);
        opacity: .64;
    }
    10% {
        -webkit-transform: translate3d(-1px,-18px,0);
        transform: translate3d(-1px,-18px,0);
        opacity: .69;
    }
    15% {
        -webkit-transform: translate3d(-4px,-29px,0);
        transform: translate3d(-4px,-29px,0);
        opacity: .72;
    }
    20% {
        -webkit-transform: translate3d(-8px,-39px,0);
        transform: translate3d(-8px,-39px,0);
        opacity: .75;
    }
    25% {
        -webkit-transform: translate3d(-14px,-50px,0);
        transform: translate3d(-14px,-50px,0);
        opacity: .78;
    }
    30% {
        -webkit-transform: translate3d(-22px,-60px,0);
        transform: translate3d(-22px,-60px,0);
        opacity: .81;
    }
    35% {
        -webkit-transform: translate3d(-31px,-71px,0);
        transform: translate3d(-31px,-71px,0);
        opacity: .85;
    }
    40% {
        -webkit-transform: translate3d(-38px,-81px,0);
        transform: translate3d(-38px,-81px,0);
        opacity: .9;
    }
    45% {
        -webkit-transform: translate3d(-44px,-92px,0);
        transform: translate3d(-44px,-92px,0);
        opacity: .95;
    }
    50% {
        -webkit-transform: translate3d(-47px,-102px,0);
        transform: translate3d(-47px,-102px,0);
        opacity: 1;
    }
    55% {
        -webkit-transform: translate3d(-48px,-112px,0);
        transform: translate3d(-48px,-112px,0);
        opacity: .94;
    }
    60% {
        -webkit-transform: translate3d(-47px,-122px,0);
        transform: translate3d(-47px,-122px,0);
        opacity: .86;
    }
    65% {
        -webkit-transform: translate3d(-45px,-131px,0);
        transform: translate3d(-45px,-131px,0);
        opacity: .78;
    }
    70% {
        -webkit-transform: translate3d(-44px,-141px,0);
        transform: translate3d(-44px,-141px,0);
        opacity: .68;
    }
    75% {
        -webkit-transform: translate3d(-44px,-150px,0);
        transform: translate3d(-44px,-150px,0);
        opacity: .58;
    }
    80% {
        -webkit-transform: translate3d(-46px,-160px,0);
        transform: translate3d(-46px,-160px,0);
        opacity: .47;
    }
    85% {
        -webkit-transform: translate3d(-51px,-169px,0);
        transform: translate3d(-51px,-169px,0);
        opacity: .35;
    }
    90% {
        -webkit-transform: translate3d(-59px,-179px,0);
        transform: translate3d(-59px,-179px,0);
        opacity: .23;
    }
    95% {
        -webkit-transform: translate3d(-68px,-188px,0);
        transform: translate3d(-68px,-188px,0);
        opacity: .11;
    }
    100% {
        -webkit-transform: translate3d(-77px,-198px,0);
        transform: translate3d(-77px,-198px,0);
        opacity: 0;
    }
}

@keyframes small-bubble-right {
    0% {
        -webkit-transform: translate3d(0,2px,0);
        transform: translate3d(0,2px,0);
        opacity: 0;
    }
    5% {
        -webkit-transform: translate3d(9px,-8px,0);
        transform: translate3d(9px,-8px,0);
        opacity: .64;
    }
    10% {
        -webkit-transform: translate3d(16px,-18px,0);
        transform: translate3d(16px,-18px,0);
        opacity: .69;
    }
    15% {
        -webkit-transform: translate3d(22px,-29px,0);
        transform: translate3d(22px,-29px,0);
        opacity: .72;
    }
    20% {
        -webkit-transform: translate3d(25px,-39px,0);
        transform: translate3d(25px,-39px,0);
        opacity: .75;
    }
    25% {
        -webkit-transform: translate3d(26px,-50px,0);
        transform: translate3d(26px,-50px,0);
        opacity: .78;
    }
    30% {
        -webkit-transform: translate3d(25px,-60px,0);
        transform: translate3d(25px,-60px,0);
        opacity: .81;
    }
    35% {
        -webkit-transform: translate3d(24px,-71px,0);
        transform: translate3d(24px,-71px,0);
        opacity: .85;
    }
    40% {
        -webkit-transform: translate3d(23px,-81px,0);
        transform: translate3d(23px,-81px,0);
        opacity: .9;
    }
    45% {
        -webkit-transform: translate3d(24px,-92px,0);
        transform: translate3d(24px,-92px,0);
        opacity: .95;
    }
    50% {
        -webkit-transform: translate3d(28px,-102px,0);
        transform: translate3d(28px,-102px,0);
        opacity: 1;
    }
    55% {
        -webkit-transform: translate3d(33px,-112px,0);
        transform: translate3d(33px,-112px,0);
        opacity: .94;
    }
    60% {
        -webkit-transform: translate3d(41px,-122px,0);
        transform: translate3d(41px,-122px,0);
        opacity: .86;
    }
    65% {
        -webkit-transform: translate3d(50px,-131px,0);
        transform: translate3d(50px,-131px,0);
        opacity: .78;
    }
    70% {
        -webkit-transform: translate3d(58px,-141px,0);
        transform: translate3d(58px,-141px,0);
        opacity: .68;
    }
    75% {
        -webkit-transform: translate3d(65px,-150px,0);
        transform: translate3d(65px,-150px,0);
        opacity: .58;
    }
    80% {
        -webkit-transform: translate3d(69px,-160px,0);
        transform: translate3d(69px,-160px,0);
        opacity: .47;
    }
    85% {
        -webkit-transform: translate3d(70px,-169px,0);
        transform: translate3d(70px,-169px,0);
        opacity: .35;
    }
    90% {
        -webkit-transform: translate3d(68px,-179px,0);
        transform: translate3d(68px,-179px,0);
        opacity: .23;
    }
    95% {
        -webkit-transform: translate3d(66px,-188px,0);
        transform: translate3d(66px,-188px,0);
        opacity: .11;
    }
    100% {
        -webkit-transform: translate3d(63px,-198px,0);
        transform: translate3d(63px,-198px,0);
        opacity: 0;
    }
}

@keyframes medium-bubble-right {
    0% {
        -webkit-transform: translate3d(0,2px,0);
        transform: translate3d(0,2px,0);
        opacity: 0;
    }
    5% {
        -webkit-transform: translate3d(7px,-9px,0);
        transform: translate3d(7px,-9px,0);
        opacity: .41;
    }
    10% {
        -webkit-transform: translate3d(13px,-20px,0);
        transform: translate3d(13px,-20px,0);
        opacity: .51;
    }
    15% {
        -webkit-transform: translate3d(18px,-32px,0);
        transform: translate3d(18px,-32px,0);
        opacity: .58;
    }
    20% {
        -webkit-transform: translate3d(22px,-43px,0);
        transform: translate3d(22px,-43px,0);
        opacity: .64;
    }
    25% {
        -webkit-transform: translate3d(25px,-55px,0);
        transform: translate3d(25px,-55px,0);
        opacity: .7;
    }
    30% {
        -webkit-transform: translate3d(26px,-66px,0);
        transform: translate3d(26px,-66px,0);
        opacity: .76;
    }
    35% {
        -webkit-transform: translate3d(26px,-78px,0);
        transform: translate3d(26px,-78px,0);
        opacity: .81;
    }
    40% {
        -webkit-transform: translate3d(26px,-89px,0);
        transform: translate3d(26px,-89px,0);
        opacity: .87;
    }
    45% {
        -webkit-transform: translate3d(24px,-101px,0);
        transform: translate3d(24px,-101px,0);
        opacity: .93;
    }
    50% {
        -webkit-transform: translate3d(23px,-112px,0);
        transform: translate3d(23px,-112px,0);
        opacity: 1;
    }
    55% {
        -webkit-transform: translate3d(22px,-123px,0);
        transform: translate3d(22px,-123px,0);
        opacity: .93;
    }
    60% {
        -webkit-transform: translate3d(22px,-134px,0);
        transform: translate3d(22px,-134px,0);
        opacity: .85;
    }
    65% {
        -webkit-transform: translate3d(23px,-144px,0);
        transform: translate3d(23px,-144px,0);
        opacity: .76;
    }
    70% {
        -webkit-transform: translate3d(25px,-155px,0);
        transform: translate3d(25px,-155px,0);
        opacity: .66;
    }
    75% {
        -webkit-transform: translate3d(29px,-165px,0);
        transform: translate3d(29px,-165px,0);
        opacity: .56;
    }
    80% {
        -webkit-transform: translate3d(34px,-176px,0);
        transform: translate3d(34px,-176px,0);
        opacity: .45;
    }
    85% {
        -webkit-transform: translate3d(39px,-186px,0);
        transform: translate3d(39px,-186px,0);
        opacity: .34;
    }
    90% {
        -webkit-transform: translate3d(46px,-197px,0);
        transform: translate3d(46px,-197px,0);
        opacity: .22;
    }
    95% {
        -webkit-transform: translate3d(52px,-207px,0);
        transform: translate3d(52px,-207px,0);
        opacity: .11;
    }
    100% {
        -webkit-transform: translate3d(58px,-218px,0);
        transform: translate3d(58px,-218px,0);
        opacity: 0;
    }
}
@media screen and (max-width: 480px) {
    body {
      background-size: auto !important;
    }
  }
 .particles-about{
  z-index: 10000;
 }